<list-parent>
  <!-- title -->
  <list-child>
    <card-origin-title
      title="記事一覧 | sushi karaage"
    >
    </card-origin-title>
  </list-child>

  <!-- items -->
  <list-child *ngFor="let item of topItems">
    <card-origin-artric
      [article]="item"
    >
    </card-origin-artric>
  </list-child>

  <!-- bottom -->
  <list-child>
    <item-pagination
      [(count)]="pageCount"
      [maxCount]="maxPageCount"
      *ngIf="isPageCountLoadComplate"
    >
    </item-pagination>
  </list-child>

</list-parent>
