:host {
  display: block;
}

.item-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    margin-left: 4px;
    margin-right: 4px;

    &__inner {
      padding: 4px 8px;
      color: var(--color-Headline);
      font-size: 16px;
    }
  }
}
