@import "../../../styles/mixins/responsive.scss";

.root-content{
  min-height: calc(100vh);
  background-color: var(--color-Background);
  background-image: url('/assets/background/bg.svg');
  background-size: 72px 72px;

  @include MobileCss{

  }

  @include PcCss{

  }

  &-header{
    width: 100vw;
    height: var(--size-header);
    position: fixed;
    top: 0;
    left: 0;
  }

  &-main{
    padding-top: var(--size-header);
    display: flex;
    justify-content: center;
    &-inner{
      margin-top: var(--size-itemDistanceMargin);
      margin-bottom: var(--size-itemDistanceMargin);

      @include MobileCss{
        width: 100%;
        margin-left: var(--size-itemInnerPadding);
        margin-right: var(--size-itemInnerPadding);
      }

      @include PcCss{
        width: var(--size-conteinerSize);
      }

      &-breadcrumb{
        margin-bottom: var(--size-itemDistanceMargin);
      }
    }
  }
}
