$conteinerSize: 720px;
$sideItemSize: 240px;

$itemDistanceMargin: 24px;
$itemInnerPadding: 24px;

$maxPcWidthSize: $conteinerSize + ($sideItemSize * 2) + ($itemDistanceMargin * 4);

$mobile-itemDistanceMargin: 12px;
$mobile-itemInnerPadding: 12px;

$pc-size:
  "header" 50px,
  "conteinerSize" $conteinerSize,
  "sideItemSize" $sideItemSize,
  "maxPcWidthSize" $maxPcWidthSize,
  "cardBorder" 20px,
  "itemDistanceMargin" $itemDistanceMargin,
  "itemInnerPadding" $itemInnerPadding,
;

$mobile-size:
  "header" 50px,
  "conteinerSize" $conteinerSize,
  "sideItemSize" $sideItemSize,
  "maxPcWidthSize" $maxPcWidthSize,
  "cardBorder" 20px,
  "itemDistanceMargin" $mobile-itemDistanceMargin,
  "itemInnerPadding" $mobile-itemInnerPadding,
;
