$conteinerSize: 720px;
$itemDistanceMargin: 48px;
$itemInnerPadding: 24px;

$size:
  "header" 50px,
  "conteinerSize" $conteinerSize,
  "cardBorder" 20px,
  "itemDistanceMargin" 24px,
  "itemInnerPadding" 24px,
;
