$conteinerSize: 720px;
$sideItemSize: 240px;
$itemDistanceMargin: 24px;
$itemInnerPadding: 24px;

$mobile-itemDistanceMargin: 12px;
$mobile-itemInnerPadding: 12px;

$pc-size:
  "header" 50px,
  "conteinerSize" $conteinerSize,
  "sideItemSize" $sideItemSize,
  "cardBorder" 20px,
  "itemDistanceMargin" $itemDistanceMargin,
  "itemInnerPadding" $itemInnerPadding,
;

$mobile-size:
  "header" 50px,
  "conteinerSize" $conteinerSize,
  "sideItemSize" $sideItemSize,
  "cardBorder" 20px,
  "itemDistanceMargin" $mobile-itemDistanceMargin,
  "itemInnerPadding" $mobile-itemInnerPadding,
;
