.image{
  display: flex;
  justify-content: center;
  &__img{
    width: 64px;
    height: 64px;
    border-radius: 32px;
    object-fit: contain;
  }
}
.title{
  color: var(--color-Paragraph);
  font-size: 16px;
}

.link{
  a{
    color: var(--color-Highlight);
    font-size: 16px;
  }

  display: flex;
  flex-direction: column;
}
