<card-origin>
  <list-parent>
    <!-- img -->
    <list-child>
      <div class="image">
        <img class="image__img" src="assets/img/no-img.png" alt="jinya kitazumeの画像">
      </div>
    </list-child>

    <list-child>
      <p class="title">
        sushi karaage
      </p>

      <div class="link">
        <a href="https://github.com/eeenbnb" target="_blank" rel="noreferrer">
          <img class="link__img" src="assets/icons/github.png" alt="githubのリンク">
        </a>
        <a href="https://twitter.com/sushi_karaage" target="_blank" rel="noreferrer">
          <img class="link__img" src="assets/icons/twitter.png" alt="twitterのリンク">
        </a>
        <a href="/rss.xml" target="_blank" rel="noreferrer">
          <img class="link__img" src="assets/icons/rss.png" alt="rssのリンク">
        </a>
      </div>
    </list-child>
  </list-parent>
</card-origin>
