:host {
  display: block;
  padding: var(--size-itemInnerPadding);
  background-color: var(--color-Main);
  border: 3px solid var(--color-Paragraph);
  border-radius: var(--size-cardBorder);
}

:host(.is-no-padding) {
  padding: 0;
}
